.product-display {
  height: 100vh;
  padding-top: 20vh;
  background: linear-gradient(90deg, rgba(89,89,89,1) 0%, rgba(134,131,105,1) 48%, rgba(227,225,225,1) 89%);}

.product-description {
  color: #000;
  font-size: 20px;
}

.description-row {
  margin-top: 2%;
}
