#donations {
  height: 100vh;
}

.donation-header {
  height: 30vh;
  font-size: 5vh;
  padding: 10%;
  color: #FFF;
  background-image: url('../../helpers/images/Stock/wood-bg.jpg');
}

.donation-content {
  height: 70vh;
  background-color: #FFF;
}
