.page-heading {
  color: #f3edbe;
  font-size: 200px;
  font-style: italic;
  position: absolute;
  padding-top: 25vh;
  text-shadow: 3px 3px 0 #000;
}

.home-logo {
  margin-top: 10vh;
  width: 300px;
  z-index: 100000;
}

.logo-div {
  margin-top: 5vh;
}

.logo-container {

}

.splash-shop-button {
  background-color: #333;
}

.tagline {
  color: #f3edbe;
  font-size: 70px;
  font-style: italic;
  padding-top: 35vh;
  text-shadow: 3px 3px 0 #000;
}

.title {
  font-size: 100px;
  font-style: oblique;
}

.title-div {
  color: #f3edbe;
  margin-bottom: 30vh;
  text-shadow: 3px 3px 0 #000;
}

.title-tagline {
  font-size: 30px;
}

@media screen and (max-width: 1000px) {
  .home-logo {
    width: 20vw;
    padding-top: 10vh;
  }

  .page-heading {
    font-size: 100px;
  }

  .splash-shop-button {
    margin-bottom: 5vh;
  }

  .tagline {
    font-size: 50px;
  }

  .title {
    font-size: 50px;
  }

  .title-div {
    margin-bottom: 0;
  }

  .title-tagline {
    font-size: 20px;
  }
}

@media screen and (max-width: 500px) {
  .home-logo {
    width: 30vw;
    padding-top: 2vh;
  }

  .page-heading {
    font-size: 50px;
    margin-top: 5vh;
  }

  .tagline {
    font-size: 50px;
    padding-top: 0;
  }

  .title {
    font-size: 50px;
  }

  .title-div {
    margin-top: 5vh;
  }
}
