.page-heading {
  color: #f3edbe;
  font-size: 200px;
  font-style: italic;
  position: absolute;
  padding-bottom: 50vh;
  text-shadow: 3px 3px 0 #000;
  // z-index: 10000;
}

// position: absolute;
// margin-top: 25%;
// width: 20vw;
// right: 40vw;
// text-align: left;

.home-logo {
  margin-top: 10vh;
  z-index: 100000;
}

.logo-div {
  margin-top: 5vh;
}

.logo-container {

}

.title {
  font-size: 100px;
  font-style: oblique;
}

.title-div {
  color: #f3edbe;
  margin-top: 60vh;
  margin-bottom: 30vh;
  text-shadow: 3px 3px 0 #000;
}

@media screen and (max-width: 1000px) {
  .home-logo {
    width: 50vh;
  }

  .title {
    font-size: 50px;
  }
}

@media screen and (max-width: 500px) {
  .home-logo {
    width: 50vw;
  }

  .title {
    font-size: 50px;
  }

  .title-div {
    margin-top: 5vh;
  }
}
