.carousel-container {
  padding: 0 5% 5% 5%;
}

.carousel-div {
  background-color: #e3e1e1;
}

.carousel-image {
  padding-left: 1%;
  padding-right: 1%;
}

.carousel-indicators li {
  background-color: black;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #000;
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 50%;
  border-radius: 50%;
  border: 1px solid black;
  // background-image: none;
}

// .carousel-control-next-icon:after
// {
//   content: '>';
//   font-size: 55px;
//   color: #000;
// }
//
// .carousel-control-prev-icon:after {
//   content: '<';
//   font-size: 55px;
//   color: #000;
// }
