.splash-intro-container {
  background-color: #fbf9ea;
}

.splash-intro-para {
  font-size: 30px;
  padding: 5% 15% 5% 15%;
  text-shadow: 9px 9px 16px #000;
}

@media screen and (max-width: 1000px) {
   .splash-intro-para {
     font-size: 20px;
   }
}

@media screen and (max-width: 500px) {
  .splash-intro-para {
    font-size: 12px;
  }
}
