a {
  margin: 5px;
  padding: 25px;
  display: inline-block;
  color: #fff;
}

a:hover {
  color: #f3edbe;
}

.burger-menu {
  margin: 5px;
  width: 50px;
  height: 50px;
  border-radius: 20px;
}

.close-button {
  background: none;
  border: none;
  float: right;
  font-size: 20px;
  padding: 2vh;
}

.fade-in {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.image-menu {
  width: 30%;
  -webkit-transition: width 3s;
}

.image-menu-closed {
  width: 40%;
  -webkit-transition: width 3s;
}

.logo {
  height: 20px;
  border-radius: 20px;
}

.logofloat-padding {
  padding-top: 25vh;
}

.logo-menu {
  background-color: #f3edbe;
  height: 0vh;
  padding-top: 5vh;
   -webkit-transition: height 3s;
}

.logo-menu-down {
  height: 100vh;
  background-color: #f3edbe;
   -webkit-transition: height 3s;
}

.menu {
  background-color: #555;
  border: none;
  :focus {
    outline: none;
  }
}

.menu-link {
  padding-top: 10vh;
  width: 10vw;
  height: 100vh;
  font-size: 0px;
  -webkit-transition: font-size 2s;
}

.menu-link-open {
  padding-top: 10vh;
  width: 10vw;
  height: 100vh;
  font-size: 30px;
  -webkit-transition: font-size 3s;
}

.header {
  width: 100vw;
  height: 60px;
  background-color: #000;
  position: fixed;
  z-index: 1000;
  :focus {
    outline: none;
  }
}
